@import "tailwindcss";

/* Tell Tailwind where to look for class names */
@source "./app/**/*.{ts,tsx,mdx}";
@source "./components/**/*.{ts,tsx,mdx}";

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
}

body {
  background: #020617; 
  color: #e2e8f0;      
  cursor: url('/cursor.png') 16 16, auto;
}

a, button, [role="button"], input, select, textarea {
  cursor: url('/pointer.png') 0 0, pointer;
}
